<div class="background">


  <div class="card">
    <section class="about">
      <h2>About Bigfoot</h2>
      <img src="../../assets/BGFTabout.jpg" alt="BigfootAbout" class="photo">
      <p>I'm out of the forest and into the spotlight. I've been calling the Pacific Northwest home for a while now and I'm looking to freshen up the place.
          I'm here to shun all the non-believers and really freshen up the place, and that's why I love Bigfoot Garden. All of the plants may look the same but they're all very special to me.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ratione impedit autem a ut corporis quae voluptate temporibus quibusdam minima soluta facere quaerat voluptas porro assumenda sequi, itaque, unde facilis?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam asperiores voluptates, repudiandae harum accusamus ea consequuntur aliquid beatae amet optio! Sint voluptatibus impedit, dignissimos nobis vel saepe sequi praesentium architecto!
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate incidunt soluta natus autem error atque provident maxime nulla nihil assumenda suscipit eligendi pariatur, tempora deserunt enim sunt voluptate ullam voluptatum?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae sunt laboriosam deserunt veritatis eius sit! Libero, iste aperiam? Nostrum molestiae consequatur et fugit quaerat nam placeat sed accusantium omnis! 
  
      </p>

    </section>

  <section id="Contact">
  <div class="containerContact">
      <br>
      <br>
    <h2 class="text-center text-uppercase">Contact Bigfoot</h2>
    <div class="row">
      <div class="col-12">
        <form action="https://formspree.io/kesergi323@gmail.com" method="POST">
          <div class="control-group">
            <div class="form-group">
              <label>Name: </label>
              <input 
                type="text" 
                class="form-control" 
                placeholder="Your Name" 
                id="name" 
                required 
                data-validation-required-message="Please enter your name"
                name="name"
                >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <label>Email Address: </label>
              <input 
                type="email" 
                class="form-control" 
                placeholder="Your Email" 
                id="email" 
                required 
                data-validation-required-message="Please enter your email"
                name="_replyto"
              >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <textarea 
                class="form-controls" 
                rows="7" 
                placeholder="Your Message" 
                id="message" 
                required 
                data-validation-required-message="Please leave a message"
                name="message"
              ></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="text-center">
            <div id="success"></div>
            <button type="submit" class="btn">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              <h5 class="send">Send </h5>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> 
</div>

</div>