.container {
    width: 95vw;
    height: 5vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 7% 30% auto;
}
a {
    /* margin-top: 1vh; */
    color:#f0f7da;
    text-decoration: none;
    padding: 1.5em;
    /* text-transform: uppercase; */
    font-size: 0.8em;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}
nav a:hover {
    background: #36802D;
}
header {
    background: #234D20;
}
.logo {
    margin-top: -.5vh;
    font-weight: bold;
}
.logo1 {
    margin-top: -1.5vh;
    background-image: url('../../assets/BFLogo.png');
    background-repeat: no-repeat;
    height: 8vh;
    background-size: 80%;
    background-position-y: 50%;
    background-position-x: 50%;
}
nav {
    margin-top: 1.5vh;
    justify-self: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}
