<div class="bg">
  <div class="card">
    <h1>Login</h1>
    <hr />
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form">
        <label class="text" for="email">Username:</label><br />
        <input class="input" formControlName="email" type="text" name="email">
        <br /><br />
        <label class="text" for="password">Password:</label><br />
        <input class="input" formControlName="password" type="password" name="password">
        <br /><br />
      </div>                            <!-- routerLink="/products" -->
      <button class="button" type="submit" >Submit</button>
      <!-- {{ deleteBtn === false ? <h1>Hello</h1> : <button>Hellllo</button> }} -->
    </form>
  </div>
</div>