<div class="background">
    <div class="card">
        <img class="logoHome" src="../../assets/BFLogo.png" />
        <div class="text">
            <h1>Welcome to Bigfoot Garden!</h1>
            <p>Bigfoot Garden was established in 1958 dolor sit amet consectetur adipisicing elit. Et,
                nobis
                tempore asperiores totam autem excepturi cupiditate quibusdam aspernatur eligendi reiciendis quod odit
                accusantium accusamus laborum provident culpa, quasi sequi consequuntur. Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Quae enim distinctio libero eveniet labore illo fugit dolore sequi,
                accusantium nam asperiores excepturi veniam repellendus esse numquam tempore optio quam fuga! Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Itaque at quas facere consequuntur nam, odit eum et
                quod quisquam corrupti animi vitae quae sapiente adipisci magnam placeat modi molestias minima.</p>
        </div>
    </div>
</div>