.background {
    background-image: url('../../assets/gardenprojectbackground.jpg');
    height: 90vh;
    background-size: cover;
    background-position-y: 40%;
    
}

.card {
    height: 50vh;
    width: 50vw;
    background-color: #F0F7DA;
    border-radius: 5px;
    margin-left: 25em;
  position: absolute;
  margin-top: 10em;
  text-align: center;
}

.logoHome {
    height: 25vh;
}

.text {
    margin-top: -2em;
}