.background {
    background-image: url('../../assets/gardenprojectbackground.jpg');
    height: 90vh;
    background-size: cover;
    background-position-y: 40%;
    
}

.card {
    height: 60vh;
    width: 50vw;
    background-color: #F0F7DA;
    border-radius: 8px;
    margin-left: 20em;
  position: absolute;
  margin-top: 5em;
  text-align: center;
  box-shadow: 0vh 0vh 3vh #000000;
    filter: blur(0.05vh);
  
  
}

.logoHome {
    height: 25vh;
}

.text {
    margin-top: -2em;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    padding: 1em;
}