<div class="background">
    <div class="card">
        <img class="logoHome" src="../../assets/BFLogo.png" />
        <div class="text">
            <h1>Welcome to Bigfoot Garden!</h1>
            <p>Bigfoot Garden was established in 1958 when Bigfoot, the head honcho, was finally discovered. Our company
                welcomes you to our website! Feel free to buy some quality plants straight from the Pacific NW. We are a
                family owned business and have built a reputation for having exceptional quality plants, reasonable
                prices, and most importantly, outstanding customer
                service. We would tell you to stop on by and enjoy our store, but we really don't want to be seen!

            </p>
        </div>
    </div>
</div>